{erl_opts, [debug_info, fail_on_warning, 
	   {i,"deps/cowboy/include/"},
	   {src_dirs, ["src"]}
	   ]}.

{deps, [
	{poolboy, ".*", {git, "git@github.com:devinus/poolboy.git", "HEAD"}},
	{uuid, ".*", {git, "git@github.com:okeuday/uuid.git", "HEAD"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},	
	{eredis, ".*", {git, "git://github.com/wooga/eredis.git", "master"}},
	{cowboy, ".*",
		{git, "git@github.com:ninenines/cowboy.git", "master"}}
]}.
